<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LisayHardware.My.MySettings.tpshardwareConnectionString" connectionString="server=localhost;user id=root;persistsecurityinfo=False;database=tpshardware" providerName="MySql.Data.MySqlClient"/>
        <add name="LisayHardware.My.MySettings.tpshardwareConnectionString1" connectionString="server=localhost;user id=root;database=tpshardware" providerName="MySql.Data.MySqlClient"/>
        <add name="LisayHardware.My.MySettings.tpshardwareConnectionString2" connectionString="server=localhost;user id=root;database=tpshardware;allowuservariables=True" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
